[Unit]
Description=Garage checker
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/<username>/main.py
Restart=always
Environment="shelly_endpoint_uri=some_url"
Environment="shelly_auth_key=abcd1234"
Environment="shelly_device_id=a1b2c3d4"
Environment="brevo_url=a_url"
Environment="brevo_api_key=a_secret_key"
Environment="notification_interval_minutes=20"
Environment="sender_email=brevo_signup_email_address"
Environment='recipient_email_addresses=["email1@domain.com", "email2@domain.com"]'
Environment='awake_start_end_hours=[6, 22]'


[Install]
WantedBy=multi-user.target
